[Unit]
Description=Inet Daemon Service
Documentation=
After=network.target nss-lookup.target

[Service]
User=root
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/use/bin/python /etc/inetdaemon/daemon/py
Restart=on-failure
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target