[Unit]
Description=Run mesh daemon hourly

[Timer]
OnCalendar=*-*-* *:00/30:00
Persistent=true
Unit=meshinet.service

[Install]
WantedBy=timers.target